docs/temp/
/target
/.venv
/node_modules
/dist
/python/.maturin
.DS_Store
packages/*/node_modules/
packages/*/dist/
packages/**/*.node
packages/node/src/index.js
packages/node/src/models.js
python/.pytest_cache/
python/memory_sdk/*.so
python/target/
python/**/__pycache__/
python/**/*.pyc
python/**/*.pyo
python/**/*.dSYM/
